[user]
	name = Murat Acet
	email = murateca@gmail.com
[core]
	editor = vim 
[alias]
	aa = add --all
	ai = add --interactive
	ap = add --patch
	au = add --update
	bm = branch --merged
	bnm = branch --no-merged
	bv = branch -vv
	br = branch -ra
	bd = branch -d
	ci = commit --interactive
	cm = commit --message
	ca = commit --amend
	cam = commit --amend --message
	co = checkout
	cb = checkout -b
	cp = checkout --patch
	mm = merge --no-ff
	st = status --short --branch
	cp = cherry-pick
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --numstat
	lg = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short --graph
	lr = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=relative
	un = reset HEAD
[color]
	ui = auto
	diff = auto  
	status = auto  
	branch = auto 
[branch]
	autosetupmerge = always
	autosetuprebase = always
